# More Basics of Pandas

Last session we introduced Pandas quickly. Now we review the basics of using Pandas, with a more interactive workflow to solidify understanding and facility with this powerful Python toolkit.

## Reviewing Pandas Basics

In [1]:
from pandas import DataFrame
import pandas as pd

In [1]:
import pandas as pd
df = pd.read_csv('DEC_10_SF1_P1_with_ann.csv')

### Basics of indexing in Pandas

The first use of indexing is to use a slice, just like we have done with other Python objects. Below we slice the first 5 index values of the first dimension of the dataframe.

In [2]:
df[:5]

,Id,Id2,Geography,Population
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261

The first indexing method is equivalent to usinf the iloc indexing method, which uses the integer based indexing, purely based on the location of the index.

In [3]:
df.iloc[:5]

,Id,Id2,Geography,Population
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261

A second way to index is using loc, which uses the labels of the index. Note that this approach includes the second value in the index range, whereas iloc does not.

In [4]:
df.loc[:5]

,Id,Id2,Geography,Population
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261
5,1400000US21001970500,21001970500,"Census Tract 9705, Adair County, Kentucky",2457

Note that indexing can work for both rows and colums

In [5]:
df.loc[:5, : 'Geography']

,Id,Id2,Geography
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky"
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky"
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky"
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky"
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky"
5,1400000US21001970500,21001970500,"Census Tract 9705, Adair County, Kentucky"

In [6]:
df.iloc[:5, :3]

,Id,Id2,Geography
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky"
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky"
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky"
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky"
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky"

We can select rows based on their value as well.  Notice that we nest df[df[condition]] to get this result.

In [ ]:
df[df['Population'] < 200]

In [ ]:
df[df['Id2']==21015980100]

Here we show how to set a value of a cell in the table, identifying a specific row by index label, and setting its population, in this case to a None value, which Pandas interprets as a NaN (missing value).

In [ ]:
df.loc[688,'Population'] = None

We can filter for values that are Null

In [ ]:
df[df['Population'].isnull()]

Or more commonly, filter out the null values.

In [ ]:
df[df['Population'].notnull()]

Here we find and print records that are in Fayette County, using the str attribute and 'contains' to search for the county name in geodisplay.

In [4]:
df[df['Geography'].str.contains('Fayette County')]

,Id,Id2,Geography,Population
262,1400000US21067000101,21067000101,"Census Tract 1.01, Fayette County, Kentucky",3072
263,1400000US21067000102,21067000102,"Census Tract 1.02, Fayette County, Kentucky",1567
264,1400000US21067000200,21067000200,"Census Tract 2, Fayette County, Kentucky",3563
265,1400000US21067000300,21067000300,"Census Tract 3, Fayette County, Kentucky",3157
266,1400000US21067000400,21067000400,"Census Tract 4, Fayette County, Kentucky",1261
...,...,...,...,...
339,1400000US21067004205,21067004205,"Census Tract 42.05, Fayette County, Kentucky",6628
340,1400000US21067004207,21067004207,"Census Tract 42.07, Fayette County, Kentucky",3855
341,1400000US21067004208,21067004208,"Census Tract 42.08, Fayette County, Kentucky",7097
342,1400000US21067004209,21067004209,"Census Tract 42.09, Fayette County, Kentucky",3916
343,1400000US21067004210,21067004210,"Census Tract 42.10, Fayette County, Kentucky",4207

In [7]:
df['Tract'] = df['Geography'].str.split(',').str[0]

In [14]:
df

,Id,Id2,Geography,Population,state,Tract
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727,Kentucky,Census Tract 9701
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722,Kentucky,Census Tract 9702
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016,Kentucky,Census Tract 9703
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070,Kentucky,Census Tract 9704.01
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261,Kentucky,Census Tract 9704.02
...,...,...,...,...,...,...
1110,1400000US21239050106,21239050106,"Census Tract 501.06, Woodford County, Kentucky",3261,Kentucky,Census Tract 501.06
1111,1400000US21239050107,21239050107,"Census Tract 501.07, Woodford County, Kentucky",3757,Kentucky,Census Tract 501.07
1112,1400000US21239050200,21239050200,"Census Tract 502, Woodford County, Kentucky",3533,Kentucky,Census Tract 502
1113,1400000US21239050300,21239050300,"Census Tract 503, Woodford County, Kentucky",1899,Kentucky,Census Tract 503
1114,1400000US21239050400,21239050400,"Census Tract 504, Woodford County, Kentucky",2279,Kentucky,Census Tract 504

We can find the unique values of a column (not very interesting in this particular case)

We saw last time how to use the str attribute to do string manipulation, such as to create a new column.  We need to explore some more advanced string processing, but let's use a smaller dataframe for that.

In [11]:
df['state'] = df['Geography'].str.split(',').str[2]
df[:5]

,Id,Id2,Geography,Population,state
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727,Kentucky
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722,Kentucky
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016,Kentucky
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070,Kentucky
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261,Kentucky

In [9]:
df['county'] = df['Geography'].str.split(',').str[1]
df[:5]

,Id,Id2,Geography,Population,Tract,county
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727,Census Tract 9701,Adair County
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722,Census Tract 9702,Adair County
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016,Census Tract 9703,Adair County
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070,Census Tract 9704.01,Adair County
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261,Census Tract 9704.02,Adair County

In [10]:
df['county'].unique()

array([' Adair County', ' Allen County', ' Anderson County',
       ' Ballard County', ' Barren County', ' Bath County',
       ' Bell County', ' Boone County', ' Bourbon County', ' Boyd County',
       ' Boyle County', ' Bracken County', ' Breathitt County',
       ' Breckinridge County', ' Bullitt County', ' Butler County',
       ' Caldwell County', ' Calloway County', ' Campbell County',
       ' Carlisle County', ' Carroll County', ' Carter County',
       ' Casey County', ' Christian County', ' Clark County',
       ' Clay County', ' Clinton County', ' Crittenden County',
       ' Cumberland County', ' Daviess County', ' Edmonson County',
       ' Elliott County', ' Estill County', ' Fayette County',
       ' Fleming County', ' Floyd County', ' Franklin County',
       ' Fulton County', ' Gallatin County', ' Garrard County',
       ' Grant County', ' Graves County', ' Grayson County',
       ' Green County', ' Greenup County', ' Hancock County',
       ' Hardin County', ' Harlan County', ' Harrison County',
       ' Hart County', ' Henderson County', ' Henry County',
       ' Hickman County', ' Hopkins County', ' Jackson County',
       ' Jefferson County', ' Jessamine County', ' Johnson County',
       ' Kenton County', ' Knott County', ' Knox County', ' Larue County',
       ' Laurel County', ' Lawrence County', ' Lee County',
       ' Leslie County', ' Letcher County', ' Lewis County',
       ' Lincoln County', ' Livingston County', ' Logan County',
       ' Lyon County', ' McCracken County', ' McCreary County',
       ' McLean County', ' Madison County', ' Magoffin County',
       ' Marion County', ' Marshall County', ' Martin County',
       ' Mason County', ' Meade County', ' Menifee County',
       ' Mercer County', ' Metcalfe County', ' Monroe County',
       ' Montgomery County', ' Morgan County', ' Muhlenberg County',
       ' Nelson County', ' Nicholas County', ' Ohio County',
       ' Oldham County', ' Owen County', ' Owsley County',
       ' Pendleton County', ' Perry County', ' Pike County',
       ' Powell County', ' Pulaski County', ' Robertson County',
       ' Rockcastle County', ' Rowan County', ' Russell County',
       ' Scott County', ' Shelby County', ' Simpson County',
       ' Spencer County', ' Taylor County', ' Todd County',
       ' Trigg County', ' Trimble County', ' Union County',
       ' Warren County', ' Washington County', ' Wayne County',
       ' Webster County', ' Whitley County', ' Wolfe County',
       ' Woodford County'], dtype=object)

And count how many times each unique value is in the data

In [11]:
df['county'].value_counts()

 Jefferson County    191
 Fayette County       82
 Kenton County        41
 Campbell County      25
 Warren County        24
                    ...
 Powell County         2
 Wolfe County          2
 Trimble County        2
 Robertson County      1
 Hickman County        1
Name: county, Length: 120, dtype: int64

### More complex use of Indexing and String Manipulation -- Cleaning the Bedroom Field in the Craigslist data

In [13]:
import pandas as pd, numpy as np
cl = pd.read_csv('items.csv')
cl.head()

,neighborhood,title,price,bedrooms,pid,longitude,date,link,latitude,sqft,sourcepage
0,(SOMA / south beach),"1bed + Den, 1bath at Mission Bay",$2895,/ 1br - 950ft² -,4046628359,-122.399663,Sep 4 2013,/sfc/apa/4046628359.html,37.774623,/ 1br - 950ft² -,http://sfbay.craigslist.org/sfc/apa/
1,(SOMA / south beach),Love where you live!,$3354,/ 1br - 710ft² -,4046761563,NaN,Sep 4 2013,/sfc/apa/4046761563.html,NaN,/ 1br - 710ft² -,http://sfbay.craigslist.org/sfc/apa/
2,(inner sunset / UCSF),We Welcome Your Furry Friends! Call Today!,$2865,/ 1br - 644ft² -,4046661504,-122.470727,Sep 4 2013,/sfc/apa/4046661504.html,37.765739,/ 1br - 644ft² -,http://sfbay.craigslist.org/sfc/apa/
3,(financial district),Golden Gateway Commons | 2BR + office townhous...,$5500,/ 2br - 1450ft² -,4036170429,NaN,Sep 4 2013,/sfc/apa/4036170429.html,NaN,/ 2br - 1450ft² -,http://sfbay.craigslist.org/sfc/apa/
4,(lower nob hill),Experience Luxury Living in San Fransisco!,$3892,/ 2br -,4046732678,NaN,Sep 4 2013,/sfc/apa/4046732678.html,NaN,/ 2br -,http://sfbay.craigslist.org/sfc/apa/

This is a worked part of your assignment for this week.  Here is a code snippet that uses some of what we just learned above, and extends it to clean the bedroom field in this data.  Adapting it to clean sqft remains for you to do in the assignment...

Below are two different ways to do this.  The first involves looping over the index of the dataframe, and finding the beginning and end of the substring we are looking for, to isolate the bedrooms value.

In [14]:
for label in cl['bedrooms'].index:
    if isinstance(cl['bedrooms'][label], str) and not pd.isnull(cl['bedrooms'][label]):
        end = cl['bedrooms'][label].find('br')
        if end == -1:
            cl.loc[label,'bedrooms'] = np.nan
        else:
            start = cl['bedrooms'][label].find('/ ') + 2
            cl.loc[label,'bedrooms'] = int(cl['bedrooms'][label][start: end])
cl['bedrooms'][:9]

0      1
1      1
2      1
3      2
4      2
5      1
6    NaN
7      1
8      2
Name: bedrooms, dtype: object

In [15]:
df.index

RangeIndex(start=0, stop=1115, step=1)

In [16]:
len(df)

1115

Here is a second way to do this that is much more elegant, and in some ways much simpler since it does not require looping over the index values.  It uses the apply() method to apply an element-wise function.  This is covered briefly on page 133 of Pandas for Data Analysis, and more exensively in online documentation.

In [15]:
# first we create a method that works on a single instance
def clean_br(value):
    ''' value - string from Craigslist entry that includes number of bedrooms
        returns - integer number of bedrooms
    '''
    if isinstance(value, str):
        end = value.find('br')
        if end == -1:
            return None
        else:
            start = value.find('/') + 2
            return int(value[start:end])

In [16]:
# for example, we can apply it to a single string
clean_br('/ 1br - 950ft² -')

1

In [17]:
# and another
clean_br('/ 2br - 1450ft² -')

2

In [18]:
# really what we want to do is to apply it to all rows in a dataframe
# we can do this with a loop, similar to what we have above
cl = pd.read_csv('items.csv')

for i, row in cl.iterrows(): 
    row['bedrooms'] = clean_br(row['bedrooms'])

In [19]:
# Let's look at the result.  We see that it doesn't change.  What went wrong?
# let's go back and fix it together
cl['bedrooms'][:9]

0        / 1br - 950ft² -
1        / 1br - 710ft² -
2        / 1br - 644ft² -
3       / 2br - 1450ft² -
4                 / 2br -
5                 / 1br -
6              / 549ft² -
7        / 1br - 781ft² -
8                 / 2br -
Name: bedrooms, dtype: object

In [ ]:
# a second option is to use the apply() method.  
# apply() takes the name of a method as an argument, and applies that method to all rows in the dataframe
# the looping is implicit

cl = pd.read_csv('items.csv')
cl['bedrooms'] = cl['bedrooms'].apply(clean_br)
cl['bedrooms'][:9]

In [ ]:
# if we have a very simple function, we can define it all in one line using the keyword lambda

cl['bedrooms_plus2'] = cl['bedrooms'].apply(lambda x : x+2)
cl['bedrooms_plus2'][:9]

In [ ]:
# the above line is equivalent to:
def plus_two(x):
    return x+2

cl['bedrooms_plus2'] = cl['bedrooms'].apply(plus_two)
cl['bedrooms_plus2'][:9]

## Working with Pandas -- an in-class working session

OK, let's create a DataFrame from a dictionary, following the example on pg 116 of Python for Data Analysis (PDA).

In [21]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = pd.DataFrame(data)

Explain the contents and structure of 'data'

What does 'DataFrame(data)' do? What if we did not begin that line with 'df ='?

Look at the contents of df, using just df by itself, and 'print df'.

'data' contains states and their population for a year.
It consists of a dictionary data structure with keys state, year, and population and the values of each of these columns.

DataFrame(data) converts the dictionary into a pandas dataframe; converting each key, value pair into a pandas series with keys as column headers and values as pandas values.

not beginning the line with df= will still create the pandas dataframe except it won't be assigned to any variable. i.e. saved.

In [31]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

We can refer to a column in two ways:

In [25]:
df['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

In [26]:
df.state

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

We can step through the rows in a dataframe

In [27]:
for label in df.state.index:
    print(df.state[label])

Ohio
Ohio
Ohio
Nevada
Nevada

And find the index value within each entry of a specific substring

In [28]:
for label in df.state.index:
    print(df.state[label].find('io'))

2
2
2
-1
-1

In [29]:
for label in df.state.index:
    if df.state[label]=='Ohio':
        print(df.state[label])
    else:
        print('Missing')

Ohio
Ohio
Ohio
Missing
Missing

## Now Your Turn

Below are a series of questions, with the answers remaining for you to fill in by using pandas expressions that draw on the methods in Chapter 5.  You should not need to use anything more than the content of this chapter -- a subset of the methods summarized above, to do this exercise.  Hopefully you can complete it within class if you've been keeping up with the reading.

How can we get a quick statistical profile of all the numeric columns?

In [32]:
df['pop'].describe()

count    5.000000
mean     2.420000
std      0.864292
min      1.500000
25%      1.700000
50%      2.400000
75%      2.900000
max      3.600000
Name: pop, dtype: float64

In [33]:
df['year'].describe()

count       5.00000
mean     2001.20000
std         0.83666
min      2000.00000
25%      2001.00000
50%      2001.00000
75%      2002.00000
max      2002.00000
Name: year, dtype: float64

Can you get a profile of a column that is not numeric, like state? Try it.

Yes you can get a profile on non-numeric columns. except it gives different statistics to numeric columns but for count.

In [34]:
df['state'].describe()

count        5
unique       2
top       Ohio
freq         3
Name: state, dtype: object

How can we print the data types of each column?

In [35]:
df.dtypes

state     object
year       int64
pop      float64
dtype: object

How can we print just the column containing state names?

In [36]:
df.state

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

How can we get a list of the states in the DataFrame, without duplicates?

In [38]:
list(df.state.unique())

['Ohio', 'Nevada']

How can we get a count of how many rows we have in each state?

In [39]:
len(df.state)

5

How can we compute the mean of population across all the rows?

In [41]:
df['pop'].mean()

2.4200000000000004

How can we compute the maximum population across all the rows?

In [42]:
df['pop'].max()

3.6

How can we compute the 20th percentile value of population?

In [79]:
df['pop'].quantile(q = 0.2)

1.7

How can we compute a Boolean array indicating whether the state is 'Ohio'?

In [44]:
df.state == 'Ohio'

0     True
1     True
2     True
3    False
4    False
Name: state, dtype: bool

How can we select and print just the rows for Ohio?

In [45]:
df[df.state == 'Ohio']

  state  year  pop
0  Ohio  2000  1.5
1  Ohio  2001  1.7
2  Ohio  2002  3.6

How can we create a new DataFrame containing only the Ohio records?

In [46]:
Ohio_df = df[df.state == 'Ohio']

How can we select and print just the rows in which population is more than 2?

In [48]:
df[df['pop'] > 2]

    state  year  pop
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

How could we compute the mean of population that is in Ohio, averaging across years?

In [52]:
df[df['state'] == 'Ohio'][['pop']].mean()

pop    2.266667
dtype: float64

How can we print the DataFrame, sorted by State and within State, by Population?

In [60]:
df.sort_values(['state', 'pop'])

    state  year  pop
3  Nevada  2001  2.4
4  Nevada  2002  2.9
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6

How can we print the row for Ohio, 2002, selecting on its values (not on row and column indexes)?

In [61]:
df[(df['state'] == 'Ohio') & (df['year'] == 2002)]

  state  year  pop
2  Ohio  2002  3.6

How can we use row and column indexing to set the population of Ohio in 2002 to 3.4?

In [69]:
df.loc[2,'pop'] = 3.4

How can we use row and column indexing to append a new record for Utah, initially with no population or year?

In [70]:
df.loc[5, 'state'] = 'Utah'

How can we set the population to 2.5 and year to 2001 for the new record?

In [73]:
df.loc[5, 'year'] = 2001
df.loc[5, 'pop'] = 2.5

### What You've Learnt

In loops
df.iterrows( ) returns a copy not a view. Not advisable to use if you're gonna work with the returned values.
df.index

In [22]:
for i in cl.index:
    print(i)
    if i == 4:
        break

0
1
2
3
4